<?xml version="1.0" encoding="UTF-8"?>
<config-description:config-descriptions
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:config-description="https://openhab.org/schemas/config-description/v1.0.0"
	xsi:schemaLocation="https://openhab.org/schemas/config-description/v1.0.0 https://openhab.org/schemas/config-description-1.0.0.xsd">

	<config-description uri="thing-type:gcweather:weather">
		<parameter name="cgndbLocation" type="text" required="true">
			<label>CGNDB Location</label>
			<description>Canadian Geographical Names Database (CGNDB) location Key. This can be found by searching
				the database
				here: https://geonames.nrcan.gc.ca/search-place-names/search
			</description>
		</parameter>
		<parameter name="refreshInterval" type="integer" min="2" required="false" unit="min">
			<label>Refresh interval</label>
			<description>Specifies the refresh interval in minutes</description>
			<default>30</default>
		</parameter>
	</config-description>

</config-description:config-descriptions>
